<!-- templates/messenger_app/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Blog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static ' messenger_app/css/styles.css'' %}">
</head>
<body>
    <header>
        <h1>My Blog</h1>
        <nav>
            <ul>
                <li><a href="{% url 'post_list' %}"> Главная страница </a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'post_create' %}">Add Post</a></li>
                    <li><a href="{% url 'profile' %}">Профиль</a></li>
                    <li><a href="{% url 'logout' %}">Выход ({{user.username}})</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}"> Вход </a></li>
                    <li><a href="{% url 'register' %}"> Регистрация </a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Blog</p>
    </footer>
</body>
</html>
