{% extends "messenger_app/base.html" %}
{% load static %}

{% block title %}Post Detail{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<p><strong>Author:</strong> {{ post.author.username }}</p>

<hr>

<h2>Comments</h2>
{% for comment in comments %}
    <div class="comment">
        {% if comment.author.profile.avatar %}
            <img src="{{ comment.author.profile.avatar.url }}" alt="Avatar" style="width:50px; height:50px;">
        {% else %}
            <img src="{% static 'images/default_avatar.jpg' %}" alt="Default Avatar" style="width:50px; height:50px;">
        {% endif %}
        <strong>{{ comment.author.username }}</strong>
        <p>{{ comment.content }}</p>
    </div>
{% endfor %}

<hr>

<h2>Add a Comment</h2>
<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Add Comment</button>
</form>

<a href="{% url 'post_list' %}">Back to Posts</a>
{% endblock %}
